.Section-6-Pasos{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    align-items: start;

}
.Section-6-Pasos > .Div1-Content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid black; */
    padding: 40px 0px 40px 0px;
}

.Section-6-Pasos > .Div1-Content > .Div-Title{
    display: flex;

}
.Section-6-Pasos > .Div1-Content > .Div-Title > h1{
    font-size: 30px;
}

.Section-6-Pasos > .Div1-Content > .Div-Parrafo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}
.Section-6-Pasos > .Div1-Content > .Div-Btn {
    display: flex;
}
.Section-6-Pasos > .Div1-Content > .Div-Btn > button{
    padding: 10px 60px 10px 60px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
}

.Section-6-Pasos > .Div2-Pasos{
    width: 40%;
    /* border: 1px solid black; */
    
}

.Section-6-Pasos > .Div2-Pasos > article{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    padding: 10px;
   
}
.Section-6-Pasos > .Div2-Pasos > article > .Div-InArticle1{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section-6-Pasos > .Div2-Pasos > article > .Div-InArticle2{
    width: 80%;
    border: 1px solid black;
    gap: 20px;
    padding: 10px;
}
.Section-6-Pasos > .Div2-Pasos > article > .Div-InArticle1 > span {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}