.Section-5-Video{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px 30px 0px;
    background: black;
    color: white;
}

.Section-5-Video > .Div1-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.Section-5-Video > .Div2-Video{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Section-5-Video > .Div2-Video > video{
    width: 720px;
    
}
.Section-5-Video > .Div2-Video > div{
    position: absolute;
    z-index: 20;
}
.Section-5-Video > .Div2-Video > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: none;
    font-size: 50px;
}

.Section-5-Video > .Div3-Content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Section-5-Video > .Div3-Content > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
