
.bg-black{
    background-color: black;
}
.Div2{
   width: 100%;
   height: 100%;
  
}
.Div2 video{
    object-fit: cover;
    width:70% ;
    height: 15%;
    max-width: 800px;
}

.kdfg{
    margin-top: 200px;
    padding:40px ;

}


.Div2-Video{
    border: 2px solid white;
    width: 730px;
    display: flex;
    justify-content: center;
}
.video-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section-5-Video{
    padding-top: 200px;
    padding-bottom: 200px;


}
.h1-seccion-5{
    font-size: 20px;
    font-weight: bold;
}
.Div3-Content h3, span{
   font-size: 15px;
}