.seccion-10{
    background-color: black;
    height: 40vh;
    width: 100%;
    display: flex;
    text-align: center;
    gap: 20px;
}

.contenedor-span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-seccion-10-1{
    font-size: 30px;
}
.span-seccion-10-2{
    color: gray;
    font-size: 20px ;
}
.btn-seccion-10-1{
     background-color: white;
     color: black;
     width: 150px;
     border-radius: 5px;
     border: 2px solid gray;

}
.btn-seccion-10-2{
   background-color: black;
   color: white;
   border-radius: 5px;
   width: 150px;
   border: 2px solid white;
   margin-top: 20px;
   margin-left: 20px;
}
.btn-seccion-10{
    gap: 20px;
}