.h1-seccion-6{
    font-size: 20px;
    font-weight: bold;
}
.h1-seccion{
    text-align: start;
}
.card{
    border: 2px solid gray;
    display: flex;
    gap: 10px;
    padding: 10px;

}
.tarj1,.tarj2,.tarj3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.article-padre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.bola{
    width: 40px;
    height: 40px;
    border-radius:100%;
    border: 2px solid gray ;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}
.p{
    width: 90%;
    text-align: start;
}
.seccion-6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
   padding-top: 100px;
   padding-bottom: 100px;
}
.articulo-seccion-6{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.button-seccion-6{
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: black;
  
}