.card-custom {
  border: 2px solid #000;
  overflow: hidden;
}

.card-custom img, .card img, .img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .small, .sm {
    width: 200px;
    height: 120px;
  }
  .large-square {
    width: 200px;
    height: 260px;
  }
  .large-rect {
    width: 410px;
    height: 120px;
  }
  .sm {
    position: relative;
    top: -140px;
    right: -105px;
  }
}

.seccion-galeria{
  margin-bottom:20px ;
  margin-top: 30px;
}